---
layout: default
title: 分类归档
permalink: /categories/
---

<h2>分类归档</h2>

{% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3 id="{{ category_name }}">{{ category_name }}</h3>
  <ul>
    {% for post in site.categories[category_name] %}
      <li>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span> - 
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}